/* font */
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'S-CoreDream-4Regular';
}

.Typist{
  font-family: 'NEXON Lv1 Gothic OTF';
}

html {
  scroll-behavior: smooth;
}

/* 공통 */
.page-title {
  padding: 30px;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  font-size: 25px;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1200px){
 #projects .container {
    max-width: 1540px;
  }
}

@media (min-width: 1200px){
  .home-section .container {
     max-width: 100%
   }
 }

/* header */
.header-div{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
}

.header-div .nav{
  justify-content: center;
  padding-top: 1rem !important;
}

.header-div a {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.header-div a:hover {
  color: rgb(96 96 96);
}

.header-div hr{
 margin-bottom: 0rem; 
}

/* home */
.home-section{
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  font-weight: 400;
  margin-bottom: 0;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  z-index: -1;
  background-image: url(../../../public/img/background.jpg);
  background-size: 100%;
}

.home-section .container {
  padding-bottom: 7%;
  padding-left: 47%;
}

.home-section h1{
  font-size: 3.5rem;
}

@media (min-width: 300px) { 
  html { font-size: 48%; } 
} 

@media (min-width: 700px) { 
  html { font-size: 80%; } 
} 

@media (min-width: 1200px) { 
  html { font-size: 100%; } 
}

.continue {
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: calc(50% - 44px);
  text-align: center;
  
  /*start animation*/
  animation-name: pippo;
  animation-duration: 2s ;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pippo {
  0% {top: 86%}
  100% {top: 90%}
}

.more{
  color: inherit;
  display: block;
  width: 90px;
  height: 20px;
  position: relative;
  letter-spacing: .25em;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none !important;
  color: black;
}

.continue:hover .more, .continue:hover i{
  color: rgb(76 76 76);
}

.continue .nav-link {
    display: block;
    height: 50px;
    bottom: 0;
    margin: 1rem;
    color: black;
    cursor: pointer;
    padding: 0rem;
}

/* About */
#about {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#about .img-resume{
  width: 60%;
  height: auto;
}

#about .row{
  text-align: center;
}

#about .text-col{
  font-size: 20px;
}

/* skills */
#skills {
  background-color: #f0f0f0;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#skills h3{
  padding: 30px;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  font-size: 25px;
}

#skills b{
  font-size: 25px;
}

#skills .col-md-9 .row{
  padding-bottom: 1rem;
  font-size: 20px;
}

/* projects */
#projects {
  display: flex;
  align-items: center;
  border-bottom: 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#projects .row{
  border: 1px solid #e4e4e4;
  padding: 29px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#projects img{
  width: 100%;
  height: auto;
}

.project-detail dl{
  width: calc(100%);
  display: block;
  float: left;
  color: #191919;
  font-size: 16px;
  line-height: 1.9;
  word-break: break-all;
  margin-bottom: 0.5rem;
}

.project-detail dt{
  font-weight: 100;
  width: 80px;
  float: left;
  margin-right: 10px;
  color: #999;
}

.project-detail dd{
  white-space: pre-wrap;
  width: calc(100% - 105px);
  float: right;
}

.tec-dl dd p{
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.fun-dl dd p{
    margin-top: 0rem; 
    margin-bottom: 2rem;
}

.fun-dl a {
  color: #000000;
  text-decoration: none;
}

.fun-dl a:hover {
  color: rgb(96 96 96);
}


.carousel{
  margin-top: 8rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: #2d2d2d;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: #2d2d2d;
}

.carousel-caption {
  color: black;
}

.carousel-caption p {
  background: #eae9e9;
}

.project-card .fun-dl span{
  padding: 10px 25px 10px 25px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
  border: 1px solid;
  border-color: #e4e4e4;
  background-color: #f0f0f096;
}

/* career */
#career .row{
  margin-top: 3rem;
  margin-bottom: 8rem;
}


/* footer */
footer{
  background-color: #f0f0f0;
  color: #fff;
  padding: 0 0 4.8rem 0;
}

footer p{
  margin: 0;
}

footer i {
  margin: 1rem 0 1.6rem;
  cursor: pointer;
}

footer .nav-link{
  text-align: center;
  color: black;
}

footer .nav-link:hover{
  color: rgb(76 76 76);
}

.social-links, footer .footer__text{
  text-align: center;
  color:gray; 
}

footer a {
  color: #000000;
}

footer a:hover {
  color: rgb(96 96 96);
  transition: all .3s ease-in-out;
  transform: translateY(-2px);
}

footer i:hover {
  color: rgb(96 96 96);
  transition: all .3s ease-in-out;
  transform: translateY(-2px);
}

